
:root {
    --roundness: 0.5rem;
    --font: "Roboto Mono", "Vazirmatn", sans-serif;
    font-weight: 400;
    scroll-padding-top: 2rem;
}
::placeholder {
    color: var(--sub-color);
    opacity: 1;
}
::selection {
    background-color: var(--main-color);
    color: var(--sub-alt-color);
}
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
a {
    color: var(--sub-color);
    display: inline-block;
    transition: 0.125s;
}
a:hover {
    color: var(--text-color);
}
a[router-link] * {
    pointer-events: none;
}
a.button {
    text-decoration: none;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
}
.customBackground {
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -999;
}
#backgroundLoader {
    animation: loader 2s cubic-bezier(0.38, 0.16, 0.57, 0.82) infinite;
    background: var(--main-color);
    height: 3px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
#centerContent {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
    max-width: 1000px;
    min-height: 100vh;
    padding: 2rem;
    transition: padding-top 0.125s;
    width: 100%;
    z-index: 999;
}
#centerContent.wide125 {
    max-width: 1250px;
}
#centerContent.wide150 {
    max-width: 1500px;
}
#centerContent.wide200 {
    max-width: 2000px;
}
#centerContent.widemax {
    max-width: unset;
}

* {
    box-sizing: border-box;
}
.hidden {
    display: none !important;
}
.invisible {
    opacity: 0 !important;
    pointer-events: none !important;
}
.button {
    align-content: center;
    appearance: none;
    background: var(--sub-alt-color);
    border: none;
    border-radius: var(--roundness);
    color: var(--text-color);
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    height: min-content;
    line-height: 1.25em;
    padding: 0.5em;
    text-align: center;
    transition: background 0.125s, color 0.125s;
    user-select: none;
    -webkit-user-select: none;
}
.button.active {
    background: var(--main-color);
    color: var(--bg-color);
}
.button.active:hover {
    background: var(--text-color);
}
.button.active:active {
    background: var(--sub-color);
    color: var(--bg-color);
}
.button.disabled {
    cursor: default;
    opacity: 0.33;
    pointer-events: none;
}
.button.disabled:hover {
    background: var(--text-color);
    outline: none;
}
.button.disabled:active {
    background: var(--sub-color);
    color: var(--bg-color);
}
.button:hover {
    background: var(--text-color);
    color: var(--bg-color);
    outline: none;
}
.button:focus {
    box-shadow: 0 0 0 0.15em var(--text-color);
}
.button:active {
    background: var(--sub-color);
    color: var(--bg-color);
}

#bottom {
    color: var(--sub-color);
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0 5px;
    position: relative;
    text-align: center;
}
#bottom .keyTips {
    line-height: 1.25rem;
    margin-bottom: 2rem;
    transition: 0.125s;
}
#bottom .left .textButton,
#bottom .right .textButton {
    transition: 0.125s;
}
#bottom #supportMeButton:hover {
    color: var(--text-color);
    cursor: pointer;
}
#bottom #commandLineMobileButton {
    background: var(--main-color);
    border-radius: 99rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
    font-size: 1rem;
    height: 3rem;
    left: 0;
    line-height: 3rem;
    position: absolute;
    text-align: center;
    top: -4rem;
    transition: 0.25s;
    width: 3rem;
    z-index: 99;
}
#bottom .leftright {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    user-select: none;
}
#bottom .leftright .textButton {
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0;
    text-decoration: none;
}
#bottom .leftright .left {
    text-align: left;
}
#bottom .leftright .left,
#bottom .leftright .right {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    width: fit-content;
    width: -moz-fit-content;
}
#bottom .leftright .right {
    justify-self: right;
    text-align: right;
}
#bottom .leftright .left .textButton,
#bottom .leftright .right .textButton {
    align-items: baseline;
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
    width: max-content;
    width: -moz-available;
}
#bottom #versionGroup {
    display: flex;
}
#bottom #versionGroup #newVersionIndicator {
    background-color: var(--main-color);
    border-radius: calc(var(--roundness) / 2);
    color: var(--bg-color);
    cursor: pointer;
    text-align: center;
    transition: 0.125s;
}
#bottom.focus #newVersionIndicator,
#bottom.focus .keyTips,
#bottom.focus .textButton {
    opacity: 0 !important;
}
#bottom.focus #commandLineMobileButton {
    opacity: 0 !important;
    pointer-events: none !important;
}
input,
textarea {
    background: var(--sub-alt-color);
    border: none;
    border-radius: var(--roundness);
    caret-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: 1em;
    line-height: 1.25em;
    outline: none;
    padding: 0.5em;
}

.pageLogin {
    align-items: center;
    display: flex;
    gap: 1rem;
    grid-auto-flow: column;
    height: 100%;
    justify-content: space-around;
}
.pageLogin .side {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    justify-content: center;
}
.pageLogin .side input {
    width: 15rem;
}
.pageLogin .side.login {
    grid-template-areas: "title forgotButton" "form form";
}
.pageLogin .side.login .title {
    grid-area: title;
}
.pageLogin .side.login #forgotPasswordButton {
    font-size: 0.75rem;
    grid-area: forgotButton;
    line-height: 0.75rem;
}
.pageLogin .side.login form {
    grid-area: form;
}
.pageLogin form {
    display: grid;
    gap: 0.5rem;
    width: 100%;
}
.pageLogin .preloader {
    color: var(--main-color);
    font-size: 2rem;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.25s;
}
#monkey {
    animation: shake 0s infinite;
    height: 0;
    margin: 0 auto;
    width: 308px;
}
#monkey div {
    height: 200px;
    position: fixed;
    width: 308px;
}
#top {
    align-items: center;
    font-size: 2.3rem;
    grid-auto-flow: column;
    grid-template-areas: "logo menu";
    line-height: 2.3rem;
    padding: 0 5px;
    z-index: 2;
}
#top .logo {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto 1fr;
    user-select: none;
}
#top .logo {
    cursor: pointer;
    white-space: nowrap;
}
#top .logo .icon {
    align-items: center;
    background-color: transparent;
    display: grid;
    width: 2.5rem;
}
#top .logo .icon svg path {
    fill: var(--main-color);
    transition: 0.25s;
}
#top .logo .text {
    font-size: 2rem;
    font-weight: unset;
    margin-block-end: unset;
    margin-block-start: unset;
    margin-top: -0.2em;
    position: relative;
    transition: color 0.25s;
}
#top .logo .text .top {
    color: var(--sub-color);
    font-size: 0.65rem;
    left: 0.25rem;
    line-height: 0.65rem;
    position: absolute;
    top: -0.1rem;
    transition: color 0.25s, opacity 0.25s;
}
#top .logo .bottom {
    color: var(--main-color);
    cursor: pointer;
    margin-left: -0.15rem;
    transition: 0.25s;
}
#top .config {
    grid-area: config;
    transition: 0.125s;
}
#top .config .mobileConfig {
    display: none;
}
#top .config .mobileConfig .textButton {
    font-size: 2rem;
    margin-right: -1rem;
    padding: 0.5rem 1rem;
}
#top .config .desktopConfig {
    grid-gap: 0.2rem;
    display: grid;
    grid-template-rows: 0.7rem 0.7rem 0.7rem;
    justify-items: self-end;
    justify-self: right;
}
#top .config .desktopConfig .group .title {
    color: var(--sub-color);
    font-size: 0.5rem;
    line-height: 0.5rem;
    margin-bottom: 0.15rem;
}
#top .config .desktopConfig .group .buttons {
    display: flex;
}
#top .config .desktopConfig .group .buttons .textButton {
    font-size: 0.7rem;
    line-height: 0.7rem;
    padding: 0 0.15rem;
}
#top .config .desktopConfig .group.disabled {
    opacity: 0.25;
    pointer-events: none;
}
#top .config .desktopConfig .numbersMode,
#top .config .desktopConfig .punctuationMode {
    margin-bottom: -0.1rem;
}
#top.focus {
    color: var(--sub-color) !important;
}
#top.focus .result {
    opacity: 0 !important;
}
#top.focus .icon svg path {
    fill: var(--sub-color) !important;
}
#top.focus .logo .text {
    color: var(--sub-color) !important;
}
#top.focus .config,
#top.focus .logo .top {
    opacity: 0 !important;
}



