<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>吃啥</title>
  <link rel="canonical" href="https://www.letswrite.tw/google-map-api-marker-custom/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    #map {
      background: #CCC;
    }
    .fixed-bottom {
      position: fixed;
      left: 16px;
      bottom: 0;
      max-width: 320px;
    }
    .btn {
      margin-top: 6px;
      margin-bottom: 6px;
      font-size: 14px;
    }
    .btn + .btn {
      margin-left: 6px;
    }
  </style>
</head>
<body>

<div id="app" class="container">
  <div class="row">
    <div class="col">
      <h1>吃啥</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="col">
        <h4>餐廳列表</h4>
      </div>

      <div class="col">
        <button type="button" class="btn btn-outline-secondary"
                v-for="f in features" @click="openInfoWindows(f.properties.id)">
          {{ f.properties.name }}
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col">
        <h4>常用餐廳</h4>
      </div>

      <div class="col">
        <button type="button" class="btn btn-outline-secondary"
                v-for="f in n" @click="openInfoWindows(f.properties.id)">
          {{ f.properties.name }}
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col">
        <h4>隨機選餐廳</h4>
        <button type="button" class="btn btn-outline-primary" @click="randomRestaurant">
          隨機選餐廳
        </button>
      </div>
    </div>

    <div class="col-md-8">
      <div class="col">
        <div id="map" class="embed-responsive embed-responsive-16by9"></div>
      </div>
    </div>
  </div>
</div>

<!--  API Key 即可 -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ4dob-yt5Qo2n3cjK6T-93u2g_GT1owg" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

<!-- map -->
<script>
  const googleMap = new Vue({
    el: '#app',
    data: {
      map: null,
      n: [],
      features: [],
      infowindowAll: {},
      hideBusiness: 'hide',
      hideStyle: [
        {
          featureType: 'poi.business',
          stylers: [{
            visibility: 'off'
          }]
        }
      ]
    },
    methods: {
      // init google map
      initMap() {
        var prev_infowindow = null;
        // 預設顯示的地點
        let location = {
          lat: 24.1786547, // 經度
          lng: 120.6460974 // 緯度
        };

        // 建立地圖
        this.map = new google.maps.Map(document.getElementById('map'), {
          center: location,
          zoom: 16,
          mapTypeId: 'terrain'
        });
        
        
      
        // 放置多個marker
        fetch('./map.geojson')
          .then(results => results.json())
          .then(result => {
            for (i in result.features) {
              if (result.features[i]['type'] === 'f') {
                this.n.push(result.features[i]);
              }
              if (result.features[i]['type'] == 'Feature') {
                this.features.push(result.features[i]);
              }
            }

            Array.prototype.forEach.call(this.features, r => {
              let latLng = new google.maps.LatLng(r.geometry.coordinates[0], r.geometry.coordinates[1]);
              let marker = new google.maps.Marker({
                position: latLng,
                map: this.map
              });

              let infowindow = new google.maps.InfoWindow({
                content: `<h6>${r.properties.name}</h6><h6>${r.properties.site}</h6><h6>${r.properties.phone_number}</h6><h6>平均價錢:${r.properties.money}(元)</h6>`
              });

              marker.addListener('click', e => {
                infowindow.open(this.map, marker);
              });

              this.infowindowAll[r.properties.id] = {
                open: function () {
                  if (prev_infowindow) {
                    prev_infowindow.close();
                  }
                  prev_infowindow = infowindow;
                  infowindow.open(this.map, marker);
                }
              };
            });
          });
      },
      // 由外部按鈕開啟info windows
      openInfoWindows(id) {
        // 打開所選擇的信息窗口
        this.infowindowAll[id].open();
      },
      // 隨機選擇餐廳
      randomRestaurant() {
        const randomIndex = Math.floor(Math.random() * this.features.length);
        const randomRestaurant = this.features[randomIndex];
        this.openInfoWindows(randomRestaurant.properties.id);
      }
    },
    created() {
      window.addEventListener('load', () => {
        this.initMap();
      });
    },
    watch: {
      // hideBusiness的值變動時，切換商家的隱藏/顯示
      hideBusiness: function (val) {
        if (val == 'hide') {
          this.map.setOptions({
            styles: this.hideStyle
          });
        } else {
          this.map.setOptions({
            styles: null
          });
        }
      }
    }
  });
</script>

</body>
</html>


